<div class="sidebar" [class.sidebar-close]="!openSidebar">
  <div class="logo-details">
    <div class="d-flex ">
      <img src="../../assets/lightning.png" width="50px">
      <!-- <h4 class="mt-3 text-4xl text-cyan-600 ms-3"> S A</h4> -->
    </div>
  </div>

  <ul class="nav-links" id="nav-links">
    <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
      <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
        <a [routerLink]="[item.link]">
          <i [class]="item.icon" class="icons"> </i>
          <span class="link_name">{{item.link_name}}</span>
        </a>
      </div>
  
      <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
        <li><a class="link_name">{{item.link_name}}</a></li>
        <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
          <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<section class="home-section  mt-3" style="height: 100%;">
  <div class="home-header ">
    <div class="hamburger-menu">
      <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="openSidebar" />
      <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
      <h5 class="dashboard-heading">Dashboard</h5>
      
    </div>

    <div class="title">
      <div class="d-flex ">
        <div class="form-group has-search">
         
          <span class="p-input-icon-left">
            <i class="pi pi-search search-icon"></i>
            <input type="text" pInputText [(ngModel)]="value" placeholder="Search for transcation,item,etc.,"
              class="form-control " />
          </span>
        </div>
        <div class="d-flex ">

          <div class="p-1 bd-highlight icon text-color icons"> <i class="pi pi-comments text-1xl icons" pBadge value="5"
              severity="success"></i> </div>
          <div class="p-1 bd-highlight icon text-color icons"> <i class="pi pi-bell text-1xl icons" pBadge value="4"
              severity="danger"></i></div>

          <div><img src="../../assets/girl.png" alt="" class="profile-imgs ms-3"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="surface-ground">
    <router-outlet></router-outlet>

 
  </div>
</section>
