
/* Hamburger Menu */
.hamburger-menu {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 15px;
    margin-bottom: 15px;
  }
  
  .label-hamburger-menu {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  
  
  .label-hamburger-menu .bar {
    width: 30px;
    height: 4px;
    background: gray;
    /* box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4); */
    border-radius: 1px;
    transition: 0.4s ease;
  }
  
  .label-hamburger-menu .bar:not(:first-child) {
    margin-top: 5px;
  }
  
  #checkbox-hamburger-menu {
    display: none;
  }
  
  #checkbox-hamburger-menu:checked + .label-hamburger-menu {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
  
  #checkbox-hamburger-menu:checked + .label-hamburger-menu .bar {
    width: 30px;
    transform: rotateY(180deg) rotateX(360deg);
  }
  
  #checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:first-child {
    transform: translateY(9px) rotate(-45deg);
  }
  
  #checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  
  /* Home Section */
  .home-section {
    position: relative;
  
    height: 100vh;
    left: 200px;
    width: calc(100% - 200px);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    
  }
  
  .home-section .home-header {
    height: 65px;
    display: flex;
    align-items: center;
  
    background-color:white;
    justify-content: space-between;
  }
  .icon{
    color: green;
    
  }
  .contentAlign1 {
    display: flex;
    justify-content: space-between;
  }
  
  .contentAlign2 {
    text-align: end;
  
  }
  
  .home-section .home-header .title {
    color: grey;
    font-size: 35px;
    
  }
  
  
  .home-section .home-header .title {
    font-size: 15px;
    font-weight: 500;
    color: #d9ecd2;
    margin-right: 20px;
    justify-content: space-between;
  
  }
  
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: #d9ecd2;
    z-index: 100;
    transition: all 0.5s ease;
    background-color:#d9ecd2;
    ;
  }
  
  .sidebar.sidebar-close {
    width: 90px;
  }
  
  .sidebar .logo-details {
    width: 100%;
    padding: 22px 24px 13px 19px;
  }
  // .sidebar.sidebar-close .logo-details {
  //   padding: 20px 10px;
  // } 
  
  .sidebar .logo-details .logo {
    height: 40px;
    width: 100%;
    
  }
  
  .sidebar.sidebar-close .logo-details .logo {
    border-radius: 3px;
  }
  
  .sidebar .nav-links {
    height: 100%;
    width: 200px;
    padding-bottom: 200px;
    overflow: auto;
    padding-left: 4px;
    }
  
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar .nav-links li {
    list-style: none;
  }
  
  .sidebar .nav-links > li {
    position: relative;
    width: fit-content;
  }
  
  .sidebar .nav-links li:hover {
   
    border-radius: 5px ;
    cursor: pointer;
    
  }
  
  /* Dropdown Title */
  .sidebar .nav-links .dropdown-title {
    width: 200px;
    overflow: hidden;
    transition: all 0.52s ease;
    /* */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .sidebar.sidebar-close .nav-links .dropdown-title {
    width: 80px;
    // background-color: #d9ecd2;
  }
  
  
  
  .sidebar .nav-links li i {
    height: 50px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
    color: #2581d3;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
   
 
  }

  .sidebar .nav-links li i:hover{
    color: #3162C6;
  }
  
  
  
  .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
  }
  
  /* a Tag */
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }
  
  /* Link Name */
  .sidebar .nav-links li a .link_name {
    font-size: 15px;
    font-weight: 600;
    color: #3385cf;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links li:hover a .link_name, 
  .sidebar .nav-links li.active a .link_name {
    color: #3162C6;
  }
  
  
  
  
  .sidebar.sidebar-close .nav-links li a .link_name {
    pointer-events: none;
  }
  
  /* Sub Menu */
  .sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 70px;
    background: #d9ecd2;
    display: none;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  
  .sidebar .nav-links li .sub-menu a {
    color: #3162C6;
    font-size: 60px;
    font-weight: bold;

    white-space: nowrap;
    transition: all 0.3s ease;
  

  }
  
  .sidebar .nav-links li .sub-menu li {
    padding-left: 10px;
  }
  
  
  .sidebar .nav-links li .sub-menu li:hover a, 
  .sidebar .nav-links li .sub-menu li.active a {
    color: #3162C6;
  }
  
  
  .sidebar.sidebar-close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 0;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    overflow: hidden;
    
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu li {
    padding: 6px 15px;
    width: 200px;
  }
  
  .sidebar.sidebar-close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  
  }
  
  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu .link_name {
    font-size: 15px;
    font-weight: 600;

    /* opacity: 1; */
    display: block;
  }
  
  /* li:first-child contain .link_name */
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
    // background: grey ;
    pointer-events: none;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name, 
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child.active .link_name {
    color: green;
  }
  
  .sidebar .nav-links li .sub-menu.blank {
    pointer-events: auto;
    /* padding: 3px 20px 6px 16px; */
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links li:hover .sub-menu.blank, 
  .sidebar .nav-links li.active .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar.sidebar-close ~ .home-section {
    left: 80px;
    width: calc(100% - 80px);
  }

  .profile-imgs{
    width: 60px;
    height: 60px;
  }
  
  .icons{
    font-size: 27px;
  }
  .form-group{
    margin-top: 5px;
    margin-right: 13px;
  }

  .form-control{
    // position: relative;
    width: 125%;
    right: 20%;
    margin-left: -22%;
  }
  .search-icon{
    margin-left: -22%;
  }

  .dashboard-heading{
    position: relative;
    left: 130%;
    font-size: 30px;
    color: #6b8bca;
  }

// tab responsive starts here

@media only screen and (min-width:768px) and (max-width:1028px){
  

    .icons{
      font-size: 30px;
    }
  .home-section{
    margin-top: 0px !important ;
  }
    
    .surface-ground{
      padding: 20px;
    }
    .form-control{
      width: 60%;
      position: absolute;
right: 0px;
top: -16px;

    }
    .p-input-icon-left > i:first-of-type {
      left: -2.5rem;
      z-index: 1;
  }
  .sidebar .nav-links li i {
font-size: 19px;
  }
  .sidebar  .nav-links  li  a  .link_name  {
    font-size: 19px;
  }

}
// tab responsive ends here


// mobile responsive starts here
@media only screen and (max-width:767px){
.sidebar.sidebar-close{
display: none;
}
.sidebar{
  width: 180px;
}
.home-section {
  position: relative;
  height: 100vh;
  left: 0px;
  width: calc(100% - 0px);
  margin-top: 0px !important;
}
.form-control{
  width: 10%;
  position: absolute;
    right: -12px;
    top: -21px;
}
.icons{
  font-size: 20px;
}
.profile-imgs {
  width: 40px;
  height: 40px;
}
.home-section .home-header {
  height: 50px;
  // align-items: flex-start;
}
.dashboard-heading {
  position: relative;
  left: 112%;
  font-size: 26px;
margin-bottom: 0px;
}
  .hamburger-menu {
    position: relative;
    width: 40px;
    height: 40px;
  margin: 0 0px; 
     margin-bottom: 0px; 
    z-index: 100;
    left: -12px;
}
.home-section  .p-input-icon-left > i:first-of-type {
  left: -1.5rem;
  z-index: 1;
}
.hamburger-menu .label-hamburger-menu {
  position: absolute;
  top: 38%;
}
.surface-ground{
  padding: 7px;
}

.sidebar.sidebar-close ~ .home-section {
  left: 0px;
  width: calc(100% - 0px);
}
.sidebar .logo-details {
  width: 100%;
  padding: 40px 24px 13px 19px;
}
}
// mobile responsive ends here


  