/* You can add global styles to this file, and also import other style files */
@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";

@import "node_modules/bootstrap/scss/bootstrap.scss";


@import "/node_modules/primeflex/primeflex.css";

.main-card-data .p-avatar-group p-avatar+p-avatar {
    margin-left: 0px; 
}
.main-card-data .p-avatar-group {

    padding: 10px;
}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:white;
    --text-color:rgb(185, 29, 29);
}

[data-theme="dark"]{
    --bg-color:black;
    --text-color:white;
}



.drop-data .p-dropdown {
    height: 25px;
    background-color: #dadadf;
}
.drop-data .p-dropdown-label{
    margin-top: -12px;
}

.barchart-data .apexcharts-toolbar{
    right: 100px;
}
body{
    font-family: sans-serif;
}
.p-avtar-group-block .p-avatar-group{
    justify-content: space-between;
}

// tab responsive starts here

@media only screen and (min-width:768px) and (max-width:1028px){

    .p-avtar-group-block .p-avatar-group{
        justify-content: space-between;
    }
    .piechart   .apexcharts-canvas{
        margin: 0 auto;
    }

}
// tab responsive ends here


// mobile responsive starts here
@media only screen and (max-width:767px){

    .p-avtar-group-block .p-avatar-group{
        justify-content: space-between;
    }
    .piechart   .apexcharts-canvas{
        margin: 0 auto;
    }
}
// mobile responsive ends here